@page "/about"

<head>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<PageTitle>About</PageTitle>

<h1 class="addspace-45">About</h1>

<p><strong>Spotify Info</strong> retrieves selected data from the Spotify Web API. It focuses on artists – after searching an artist by name you can:</p>

<ul>
    <li>see related artists (also shown under "Fans also like" in the Spotify app)</li>
    <li>get other artist recommendations (based on Spotify Web API Get recommendations function)</li>
    <li>see a list of top tracks (also shown under "Popular" in the Spotify app)</li>
    <li>see selected API only artist and track information (popularity, genre and audio features)</li>
</ul>

<p>
    The list of recommended artists is obtained by calling the API Get recommendations function with the Artist as a seed. Get recommendations returns tracks – the list contains all artists in recommended tracks. It can be refreshed to get different results.
    Some audio features are displayed in a different format than in the API response: Duration is converted from milliseconds to hours, minutes and seconds, Key directly shows tones according to Pitch class, Mode directly shows modality (Major or Minor) and Tempo is rounded.
</p>

<label class="alt-label addspace-5">Related artists</label>
<p>List of artists based on Spotify Web API Get Related Artists function. The same list can be seen in the Spotify app under Fans also like.</p>

<label class="alt-label addspace-5">Recommended artists</label>
<p>List of artists based on Spotify Web API Get Recommendations function. Get Recommendations returns tracks - the list shows all artists in recommended tracks. It can be refreshed to get different results.</p>

<label class="alt-label addspace-5">Artist details</label>
<p>Descriptions from Spotify Web API documentation:</p>

<ul class="about-list">
    <li class="about-list-item"><label>Name:</label> The name of the artist.</li>
    <li class="about-list-item"><label>Popularity:</label> The popularity of the artist. The value will be between 0 and 100, with 100 being the most popular. The artist's popularity is calculated from the popularity of all the artist's tracks.</li>
    <li class="about-list-item"><label>Genres:</label> A list of the genres the artist is associated with. For example: Prog Rock, Post-Grunge.</li>
</ul>

<label class="alt-label addspace-5">Top tracks</label>
<p>List of tracks based on Spotify Web API Get Top Tracks function. The same list can be seen in the Spotify app under Popular.</p>

<label class="alt-label addspace-5">Track</label>
<p>Selected audio features based on Spotify Web API Get Audio Features function. Descriptions from Spotify Web API documentation:</p>

<ul class="about-list">
    <li class="about-list-item"><label>Name:</label> The name of the track.</li>
    <li class="about-list-item"><label>Duration:</label> The track length.</li>
    <li class="about-list-item"><label>Popularity:</label> The popularity of the track. The value will be between 0 and 100, with 100 being the most popular. The popularity of a track is a value between 0 and 100, with 100 being the most popular. The popularity is calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are. Generally speaking, songs that are being played a lot now will have a higher popularity than songs that were played a lot in the past. Duplicate tracks (e.g. the same track from a single and an album) are rated independently. Artist and album popularity is derived mathematically from track popularity. Note that the popularity value may lag actual popularity by a few days: the value is not updated in real time.</li>
    <li class="about-list-item"><label>Acousticness:</label> A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.</li>
    <li class="about-list-item"><label>Danceability:</label> Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.</li>
    <li class="about-list-item"><label>Energy:</label> Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset rate, and general entropy.</li>
    <li class="about-list-item"><label>Instrumentalness:</label> Predicts whether a track contains no vocals. Ooh and aah sounds are treated as instrumental in this context. Rap or spoken word tracks are clearly vocal. The closer the instrumentalness value is to 1.0, the greater likelihood the track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value approaches 1.0.</li>
    <li class="about-list-item"><label>Liveness:</label> Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that the track was performed live. A value above 0.8 provides label likelihood that the track is live.</li>
    <li class="about-list-item"><label>Loudness:</label> The overall loudness of a track in decibels (dB). Loudness values are averaged across the entire track and are useful for comparing relative loudness of tracks. Loudness is the quality of a sound that is the primary psychological correlate of physical strength (amplitude). Values typical range between -60 and 0 db.</li>
    <li class="about-list-item"><label>Speechiness:</label> Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks.</li>
    <li class="about-list-item"><label>Valence:</label> A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).</li>
    <li class="about-list-item"><label>Mode:</label> Mode indicates the modality (major or minor) of a track, the type of scale from which its melodic content is derived.</li>
    <li class="about-list-item"><label>Key:</label> The key the track is in.</li>
    <li class="about-list-item"><label>Tempo:</label> The overall estimated tempo of a track in beats per minute (BPM). In musical terminology, tempo is the speed or pace of a given piece and derives directly from the average beat duration.</li>
    <li class="about-list-item"><label>Time signature:</label> An estimated overall time signature of a track. The time signature (meter) is a notational convention to specify how many beats are in each bar (or measure).</li>
</ul>