@inherits LayoutComponentBase

<PageTitle>Spotify Info</PageTitle>

<div class="page">
    <main>
        <div class="top-row px-4" style="z-index:3">
            <a href="/about" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
